aniso8601==9.0.1
astroid==2.15.5
attrs==23.1.0
blinker==1.6.2
click==8.1.3
coverage==7.2.7
coverage-badge==1.1.0
dill==0.3.6
Flask==2.3.2
flask-restx==1.1.0
greenlet==2.0.2
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy==1.4.1
mypy-extensions==1.0.0
packaging==23.1
passlib==1.7.4
platformdirs==3.8.0
pluggy==1.0.0
psycopg2==2.9.6
pyclean==2.7.3
PyJWT==2.7.0
pylint==2.17.4
pyrsistent==0.19.3
pytest==7.3.2
pytest-cov==4.1.0
python-dotenv==1.0.0
pytz==2023.3
SQLAlchemy==2.0.15
sqlalchemy-stubs==0.4
SQLAlchemy-Utils==0.41.1
tomlkit==0.11.8
types-jsonschema==4.17.0.10
typing_extensions==4.6.3
Werkzeug==2.3.4
wrapt==1.15.0
